body {
    margin: 0 0 0 0;
}

h2 {
    color: black;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

.card {
    flex: 0 0 auto;
}

}

.card {
    min-width: 100vw;
    height: 100vh;
    background: white;
}

.scrolling-wrapper-flexbox {
    height: 100vh;
    width: 100%;
}